<nav>
  <a href="/">
    <img src="/files/images/me-circle.png" id="photo" alt="Photo" align="right" width="80%"/>
  </a>
  <br clear="all">
  <h2>
    <a href="/">{{ site.data.theme.name }}</a>
  </h2>
  <div id="link">
    東京工業大学<br>
    工学院 情報通信系<br>
    准教授<br>
    <a href="mailto:sasaki@ict.e.titech.ac.jp">sasaki@ict.e.titech.ac.jp</a>
  </div>
  <div id="link">
    <a href="/publications">発表論文</a><br>
    <a href="/bio">略歴</a><br>
    <!-- <a href="/sasaki-cv.pdf">CV (pdf)</a><br> -->
  </div>
  <div id="addr">
    〒152-8550<br>東京都 目黒区 大岡山 2-12-1<br>
    東京工業大学 大岡山キャンパス<br>
    南 3 号館 519 号室
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
